@{
    ViewData["Title"] = "Habilidades";
}
<div>
   <div class="most-used-language"> 
       <img class="bar-linguagens" src="https://github-readme-stats.vercel.app/api/top-langs/?username=Pedrocandido162&layout=compact&langs_count=6&theme=tokyonight" />
   </div>
    
    <div class="box-container">
    <ul>
        
        <li>
             <img class="icone-dev img-dark" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg" alt="img Unity" />
            <p class="legenda-linguagem">Unity </p>
           
        </li>

    </ul>    
   <ul>
       <li>
            <img class="icone-dev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="img C#" />
            <p class="legenda-linguagem">C#</p>
       </li>
   </ul>    
    <ul>
        <li>
            <img class="icone-dev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" alt="img .Net Core" />
            <p class="legenda-linguagem">.Net Core</p>
        </li>
    </ul>   
    <ul>
        <li>
            <img class="icone-dev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="img HTML" />
            <p class="legenda-linguagem">HTML </p>
        </li>
    </ul>
    <ul>
        <li>
            <img class="icone-dev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="img CSS" />
            <p class="legenda-linguagem">CSS</p>
        </li>
    </ul>
    <ul>
        <li>
            <img class="icone-dev" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="img JavaJS" />
            <p class="legenda-linguagem">JavaScript</p>
        </li>
    </ul>
    <ul>
        <li>
            <img class="icone-dev icone-MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" alt="img JavaJS" />
            <p class="legenda-linguagem">MySQL </p>
        </li>
    </ul>
        
    </div>
</div>
