@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4">Pedro Candido Cardoso Neto</h1>
    <br>
    <p class="about-me">
        Sou um desenvolvedor de jogos em  <strong style="color:purple">
            Unity
        </strong>. Desde o início da minha carreira, tive uma grande paixão pela criação de jogos digitais, e ao longo dos anos, adquiri amplo conhecimento tanto na engine quanto na linguagem <strong style="color:purple"> C#.</strong><br />

        Minha jornada como desenvolvedor de jogos digitais começou no Instituto Federal do Amazonas, onde cursei o <strong style="color:purple">técnico em Programação de Jogos Digitais </strong> . Durante esse período, aprendi muito sobre o processo de desenvolvimento de jogos, incluindo design, programação, arte e som. Foi nessa época que comecei a me interessar pela Unity e, desde então, venho trabalhando nessa plataforma para criar jogos incríveis. <br />

        Atualmente, estou cursando a faculdade de <strong style="color:purple"> Análise e Desenvolvimento de Sistemas</strong> na Fametro, onde tenho a oportunidade de aprimorar meus conhecimentos em diversas áreas, incluindo<strong style="color:purple"> .net, asp.net e áreas do Frontend</strong>. Acredito que é essencial continuar aprendendo e expandindo meu conhecimento, e a faculdade tem me proporcionado a oportunidade de fazer exatamente isso. <br />

        Como desenvolvedor, sou apaixonado por encontrar soluções criativas e inovadoras para problemas complexos. Adoro trabalhar em equipe e colaborar com outras pessoas para criar algo realmente incrível. Se você está procurando um desenvolvedor de jogos talentoso e dedicado para seu projeto, não hesite em entrar em contato comigo. Será um prazer discutir como posso ajudar a tornar sua ideia em um jogo incrível!

</p>
</div>
