<div class="text-center conteudo">
	<div class="Foto-Perfil">
	<img src="~/src/fotoAboutMe.jpg" alt="Avatar">
</div>
	<h1 class="text-white m-auto">Pedro Candido Cardoso Neto</h1>
	<p class="text-center text-white ">Game Developer| C# | .Net | Web </p>
	<br />
	<div class="btn m-auto download-curriculo">
		<a href="~/src/cv.pdf" download="~/src/cv.pdf" target="_blank">
		<button class="button-curriculo">
			<span>Download CV</span>
		</button>
		</a>
		</div>
	<div class="share m-" >
		<a href="https://www.instagram.com/pedro_candido5/" target="_blank" class="rede-sociais">
			<img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png"/>
		</a>
		<a href="https://github.com/Pedrocandido162" target="_blank" class="rede-sociais">
			<img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" />
		</a>
		<a href="https://www.linkedin.com/in/pedro-neto-959608227/" target="_blank" class="rede-sociais">
			<img src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" />
		</a>
		<a href="https://github.com/Pedrocandido162" target="_blank" class="rede-sociais">
			<img class="img-dark" src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png" />
		</a>
		
	</div>


</div>